*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}

#card1 {
  background-color: #00425a;
}

#card2 {
  background-color: #1f8a70;
}

#card3 {
  background-color: #bfdb38;
}

#card4 {
  background-color: #fc7300;
}

#card5 {
  background-color: #5b8fb9;
}

#card6 {
  background-color: #e4c988;
}

.container {
  height: 100vh;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
}

.tall {
  grid-row: span 2;
}

.wide {
  grid-column: span 2;
}

@media screen and (max-width: 600px) {
  .tall {
    grid-row: span 1;
  }

  .wide {
    grid-column: span 1;
  }

  .container {
    grid-template-columns: repeat(1, minmax(150px, 1fr));
  }
}
